<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="C1_Persistencia.FabricaDAO.Parametros" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <C1_Persistencia.FabricaDAO.Parametros>
            <setting name="claseFabricaDAO" serializeAs="String">
                <value>C1_Persistencia.SQLServer.FabricaDAOSQL</value>
            </setting>
        </C1_Persistencia.FabricaDAO.Parametros>
    </applicationSettings>
</configuration>