<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="C2_Dominio.ReglasNegocio.EntidadCliente.Estrategia.Parametros" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="C2_Dominio.ReglasNegocio.EntidadPedido.Estrategia.Parametros" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="C2_Dominio.ReglasNegocio.EntidadPago.Estrategia.Parametros" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="C2_Dominio.ReglasNegocio.Pedido.Estrategia.Parametros" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="C2_Dominio.ReglasNegocio.Pago.Estrategia.Parametros" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <C2_Dominio.ReglasNegocio.EntidadCliente.Estrategia.Parametros>
            <setting name="claseEstrategiaCliente" serializeAs="String">
                <value>C2_Dominio.ReglasNegocio.EntidadCliente.FabricaCliente</value>
            </setting>
        </C2_Dominio.ReglasNegocio.EntidadCliente.Estrategia.Parametros>
        <C2_Dominio.ReglasNegocio.EntidadPedido.Estrategia.Parametros>
            <setting name="claseEstrategiaPedido" serializeAs="String">
                <value>C2_Dominio.ReglasNegocio.EntidadPedido.FabricaPedido</value>
            </setting>
        </C2_Dominio.ReglasNegocio.EntidadPedido.Estrategia.Parametros>
        <C2_Dominio.ReglasNegocio.EntidadPago.Estrategia.Parametros>
            <setting name="claseEstrategiaPago" serializeAs="String">
                <value>C2_Dominio.ReglasNegocio.EntidadPago.FabricaPago</value>
            </setting>
        </C2_Dominio.ReglasNegocio.EntidadPago.Estrategia.Parametros>
        <C2_Dominio.ReglasNegocio.Pedido.Estrategia.Parametros>
            <setting name="claseEstrategiaPedido" serializeAs="String">
                <value>C2_Dominio.ReglasNegocio.Pedido.FabricaPedido</value>
            </setting>
        </C2_Dominio.ReglasNegocio.Pedido.Estrategia.Parametros>
        <C2_Dominio.ReglasNegocio.Pago.Estrategia.Parametros>
            <setting name="claseEstrategiaPago" serializeAs="String">
                <value>C2_Dominio.ReglasNegocio.Pago.FabricaPago</value>
            </setting>
        </C2_Dominio.ReglasNegocio.Pago.Estrategia.Parametros>
    </applicationSettings>
</configuration>